
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Ubuntu", serif;
}
:root {
    --bg-color: #080808;
    --text-color: white;
    --main-color: #00ffee;
    --card-color: #090825;
}
html{
    font-size: 60%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 12% 4rem;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}
.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}
.logo:hover{
    transform: scale(1.1);
}
.logo span{
    text-shadow: 0 0 25px var(--main-color);
}
.navbar a{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

section{
    min-height: 100vh;
    padding: 10rem 12% 10rem;
}


span{
    color: var(--main-color);
}
.logo span{
    color: var(--main-color);
}
.heading{
    font-size: 8rem;
    text-align: center;
    margin: 5rem 0;    
    font-family: "Ubuntu", serif;
    color: white;
}
.heading2{
    font-size: 2.5rem;
    text-align: center;
    margin: 5rem 0;
    font-family: "Ubuntu", serif;    
    color: rgba(255, 255, 255, 0.5);
}
.text-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Define a largura da linha */
}
.text-container .left {
    flex: 1;
    color: white;
    font-size: 1.5rem;
}

.text-container .right {
    display: flex;
    gap: 1rem; /* Espaço entre os spans da direita */
    font-size: 1.5rem;
}

.gray {
    color: rgba(255, 255, 255, 0.5);
}
.green {
    color: rgb(101, 213, 101); /* Cor verde para #Normal */
}

.yellow {
    color: rgb(255, 255, 102); /* Cor amarela para #Alerta */
}

.red {
    color: rgb(255, 102, 102); /* Cor vermelha para #Crítico */
}

.StrongGray {
    color: rgb(122, 113, 113); /* Cor para #Offline */
}

.home{
    background-color: var(--bg-color);
    color: black;
}
.home-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    align-items: center;
    gap: 5rem;
}

.home-box {
    background-color: var(--card-color);
    color: white;
    border-radius: 3rem;
    border: none;
    box-shadow: 0 0 0 0.5px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
    height: 280px;
    width: auto;
    flex-grow: 1;
}
.home-box:hover{
    transform: scale(1.1);
}
.home-box .home-info{
    display: flex;
    flex-direction: column;
    max-height: 200px;
    padding: 1rem 1.5rem;
}
.home-info h4{
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5;
    margin-top: 1rem;
}
.home-info h3 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: white; /* Cor padrão */
}

.search-bar {
    width: 100%;
    padding: 1rem;
    margin: 2rem 0; /* Margem acima e abaixo */
    border: 1px solid var(--main-color);
    border-radius: 5px;
    font-size: 1.5rem;
    color: var(--text-color);
    background: var(--bg-color);
}
.filter-options {
    margin: 1rem 0;
    display: flex;
    justify-content: center; /* Centraliza os checkboxes */
    gap: 1rem;
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 2rem; /* Espaço interno */
}
.home h5 {
    text-align: center; /* Centraliza o texto */
    margin-bottom: 1rem; /* Espaço abaixo do título */
    font-size: 2rem; /* Tamanho do texto */
    color: var(--text-color);
}




















@media(max-width:1285px){
    html{
        font-size: 55%;
    }
    .home-container{
        padding-bottom: 7rem;
        grid-template-columns: repeat(2,1fr);
        margin: 0 5rem;
    }
}
@media(max-width:991px){
    header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .timeline-items::before{
        left: 7px;
    }
    .timeline-item:nth-child(odd){
        padding-right: 0;
        text-align: left;
    }
    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even){
        padding-left: 37px;
    }
    .timeline-dot{
        left: 0;
    }
    .home{
        padding-bottom: 7rem;
    }
    .projects .wrapper{
        grid-template-columns: repeat(1, 1fr);
    }
    .contact form{
        flex-direction: column;
    }
    .footer {
        padding: 2rem 3%;
    }
}
@media(max-width:895px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3%;
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(20px);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: white;
    }
    .home{
        flex-direction: column-reverse;
        margin: 5rem 4rem;
    }
    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 8rem;
        margin-top: 3rem;
    }
    .home-content p{
        max-width: 600px;
        margin: 0 auto;
    }
    .home-img img{
        width: 56vw;
    }
    .home h2{
        margin-bottom: 3rem;
    }
    .home-container{
        grid-template-columns: repeat(1,1fr);
    }
}
